<head>
  <meta charset="utf-8">
  <meta name="facebook-domain-verification" content="qs6j4qvsrr1graz3kxlof6hzv0vdg6" />
  <title>{{ title + ' | ' if title }}{{ site.title }}</title>
  <meta name="description" content="{% if content %}{{ content | excerpt | safe }}{% else %}{{ site.tagline }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="icons/favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">

  <style>{% include "css/combined.css" %}</style>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <link href="http://fonts.cdnfonts.com/css/univers?styles=70020,70018,70019,70016,70017" rel="stylesheet">
  <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '254825031997768');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=254825031997768&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->


  
</head>
