  <div role="region" class="sidebar">
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        <h1><a href="/">{{ site.title }}</a></h1>
        <p class="hide lead">{{ site.tagline }}</p>
      </div>

      <nav class="sidebar-nav">
        <a class="hide sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Home</a>
<!--
        {% for item in collections.pages %}
        <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">{{ item.data.title }}</a>
        {% endfor %}
-->
		<a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="/about">About</a>
        <a class="hide sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="https://campaign.ikaikahussey.com">City Council Campaign</a>
	    <a class="hide sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="https://hawaii.federated.industries">Hawaii Federated Industries</a>

        <br>
        <div style="font-size:80%;">
          <a href="/colophon">Colophon</a>
        </div>
      </nav>

      <div style="font-size:80%;">&copy; {{ site.time | dateFormat('YYYY') }} All rights reserved</div>
    </div>
  </div>
