  <div role="region" class="sidebar">
    <div class="container sidebar-sticky">
Aloha and <span id="welina"></span>; welcome to Add Homonym, a website by <a class="" style="display:inline;" href="https://ikaikahussey.com">Ikaika Hussey</a>
      <nav>
        
<!--
        <ul>
        {% for item in collections.pages %}
        <li>
        <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">{{ item.data.title }}</a>
        </li>
        {% endfor %}
        </ul>
-->

<!--
		<ul>
			<li>
				<a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="/about">About</a>
			</li>
			<li>
			<a target="_blank" class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="https://huilima.org">LIMA</a>
			</li>
		</ul>

-->
        <br>
        <div style="font-size:small;">
          <a href="/colophon">Colophon</a>
        </div>
      </nav>

      <div style="font-size:80%;">&copy; {{ site.time | dateFormat('YYYY') }} All rights reserved</div>
    </div>
  </div>
